$colors: (
    'systemRed': (
        light: 255 59 48,
        dark: 255 69 58,
    ),
    'systemOrange': (
        light: 255 149 0,
        dark: 255 159 10,
    ),
    'systemYellow': (
        light: 255 204 0,
        dark: 255 214 10,
    ),
    'systemGreen': (
        light: 52 199 89,
        dark: 48 209 88,
    ),
    'systemMint': (
        light: 0 199 190,
        dark: 102 212 207,
    ),
    'systemTeal': (
        light: 48 176 199,
        dark: 64 200 224,
    ),
    'systemCyan': (
        light: 50 173 230,
        dark: 100 210 255,
    ),
    'systemBlue': (
        light: 0 122 255,
        dark: 10 132 255,
    ),
    'systemIndigo': (
        light: 88 86 214,
        dark: 94 92 230,
    ),
    'systemPurple': (
        light: 175 82 222,
        dark: 191 90 242,
    ),
    'systemPink': (
        light: 255 45 85,
        dark: 255 55 95,
    ),
    'systemBrown': (
        light: 162 132 94,
        dark: 172 142 104,
    ),
    'systemGray': (
        light: 142 142 147,
        dark: 142 142 147,
    ),
    'systemGray2': (
        light: 174 174 178,
        dark: 99 99 102,
    ),
    'systemGray3': (
        light: 199 199 204,
        dark: 72 72 74,
    ),
    'systemGray4': (
        light: 209 209 214,
        dark: 58 58 60,
    ),
    'systemGray5': (
        light: 229 229 234,
        dark: 44 44 46,
    ),
    'systemGray6': (
        light: 242 242 247,
        dark: 28 28 30,
    ),
);

:root {
    @each $color, $variants in $colors {
        @each $variant, $rgb in $variants {
            --#{$color}-#{$variant}: rgb(#{$rgb});
        }
    }
}
